*{
    padding: 0;
    margin: 0;
}

:root{
    --fundo-calc:rgb(44, 14, 71);
    --fundo-text-area: blueviolet;
    --bnts: #292135;
    --hover-bnts: #493c5e;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: 100vh;
}

#calc{
    background-color: var(--fundo-calc);

    width: 30vw;
    height: 80vh;

    display: grid;
    
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(4, 22%);
    grid-template-rows: repeat(5, 18%);
    gap: 2%;
}

#text-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    background-color: transparent;
    grid-column: span 4;

    color: white;
    font-size: 2rem;
}

#pisca{
    color: white;
    display: inline-block;
    width: 10px;
    animation: piscar 1s steps(1) infinite;

    margin-left: 1%;
}

@keyframes piscar {
    0%, 50% {opacity: 1;}
    51%, 100% {opacity: 0;}
}

#calc .input, #calc #igual{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bnts);    

    color: #fff;

    font-size: 2rem;
}

#calc .input:hover,  #calc #igual:hover{
    background-color: var(--hover-bnts);

}

#calc #zero{
    grid-column: span 2;
}

i{
    font-style: normal;
}