*{
    padding: 0;
    margin: 0;
}

:root{
    --fundo-calc: #283345;
    --fundo-text-area: blueviolet;
    --bnts: #283345;
    --hover-bnts: #493c5e;
    --txt-code: #ffffff;
}

body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    height: 100vh;
}

#calc{
    background-color: var(--fundo-calc);

    width: 25vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 25px;

    box-shadow: -15px -15px 0 0 #1d2738;
}

#text-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;


    background-color: transparent;

    color: var(--txt-code);

    width: 100%;
    height: 20%;

    overflow-x: hidden;
}

#text-area i#texto{
    font-size: 3.5rem;
    width: 90%;
    text-align: right;
}

#bnts{
    display: grid;
    
    justify-content: center;
    align-content: center;

    grid-template-columns: repeat(4, 20%);
    grid-template-rows: repeat(4, 18%);
    gap: 4%;

    height: 100%;
}

#bnts .op{
    color: #7743ca !important;
}

#bnts .op:hover{
    color: #7743caad !important;
}

#calc .input, #calc #igual{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bnts);    

    color: #fff;

    font-size: 2rem;

    box-shadow: -5px -5px 4px #212d41;

    border-radius: 30%;
}

#calc .input:hover,  #calc #igual:hover{
    background-color: #273142;
    box-shadow: inset -5px -5px 4px #212d41;
    transform: translateY(1%);
    color: #ffffffb9;
}

#calc #zero{
    grid-column: span 2;
}

i{
    font-style: normal;
}